/* nur rudimentäre Druckoptimierung
sozusagen "proof of concept" 
die LZK/BWR-Dokumente gibt es ja auch immer als
hochwertige PDF
*/


body { height:297mm; width:210mm; margin-left:auto; margin-right:auto; }

.joeb-noprint {
	display:none;
	/* wäre ein eigenes Ausblenden ohne 
	Bootstrap-Klasse hidden-print */
}

table, .table, p {
	/* table-layout: fixed; */
	max-width: 165mm;
}